{% extends 'base.html' %}

{% block content %} {% load static %}



    <div class="">
        <form  method="POST">
            
            {% csrf_token %}
            <button type="submit" disabled style="display: none" aria-hidden="true"></button>

            <input type="search" name="search" id="search" placeholder="Begin Typing To Search Users..."
                autocomplete="off" hx-post="{% url 'search_user' %}" hx-trigger="keyup changed delay:500ms, search"
                hx-target="#search-results" hx-indicator="#spinner">
 
        </form>

    </div>



<div class="items-center justify-center">
    {% include 'staff/results_staff.html' %}
</div>

{% endblock content %}