{% extends 'base.html' %}

{% block content %} {% load static %}



    <div class="">
        <form onkeydown="noEnter()" method="POST">
            {% csrf_token %}
            <input type="search" name="search" id="search" placeholder="Begin Typing To Search Users..."
                autocomplete="off" hx-post="{% url 'search_consumable' %}" hx-trigger="keyup changed delay:500ms, search"
                hx-target="#search-results" hx-indicator="#spinner">
 
        </form>

    </div>
<script>
    function noEnter(){
        return event.key != 'Enter';
    }
</script>
     


{% endblock content %}