{% extends 'base.html' %}

{% block content %} {% load static %}



    <div class="">
        <form method="POST">
            {% csrf_token %}
            <button type="submit" disabled style="display: none" aria-hidden="true"></button>
            <input type="search" name="search" id="search" placeholder="Begin Typing To Search Users..."
                autocomplete="off" hx-post="{% url 'search_consumable' %}" hx-trigger="keyup changed delay:500ms, search"
                hx-target="#search-results" hx-indicator="#spinner" class="focus:outline-none placeholder-green-600 border border-yellow-300">
 
        </form>

    </div>

     


{% endblock content %}