{% extends 'base.html' %}
{% block content %}


<!-- <div class="container d-flex h-100">
  <div

  </div> -->

  <!-- post card -->
<div class="flex  rounded-lg mx-4 md:mx-auto my-56 max-w-md md:max-w-2xl sm:max-w-sm "><!--horizantil margin is just for display-->
    <div class="flex items-start px-4 py-6">
       <img class="w-32 h-32 rounded object-cover mr-4" src="{{equipments.image.url}}" alt="avatar">
       <div class="">
          <div class="flex items-center justify-between">
             <h2 class="text-lg font-semibold text-gray-900 -mt-1 bg-green-300 p-4 w-full text-center rounded"> 
             {{ equipments.label }}
            </h2>

          </div>
          <p class="text-gray-700 text-md">
            <b>Equipment Name: </b> {{ equipments.name }} 
            </p>

          <p class="mt-3 text-gray-700 text-md">
           <b>Location: </b> {{ equipments.location }}
          </p>

          <p class="mt-3 text-gray-700 text-md">
            <b>Status: </b> {{ equipments.status }}
          </p>

          <p class="mt-3 text-gray-700 text-md">
            <b>Issued to: </b> {{ equipments.owner }}
          </p>

          <p class="mt-3 text-gray-700 text-md">
            <b>Additional Notes: </b>{{ equipments.note }}
          </p>


       </div>
    </div>
 </div>




  {% endblock content %}
